:root {
  --numDays: 5;
  --numHours: 10;
  /*--timeHeight: 60px;*/
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
  --eventColor1: #ffd6d1;
  --eventColor2: #fafaa3;
  --eventColor3: #e2f8ff;
  --eventColor4: #d1ffe6;
}

.calendar {
  display: grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  margin: 2rem;
}

.timeline {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
}

.days {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.events {
  display: grid;
  grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  border-radius: 5px;
  background: var(--calBgColor);
}

/* Place on Timeline */
/*
.start-10 {
  grid-row-start: 2;
}

.start-12 {
  grid-row-start: 4;
}

.start-1 {
  grid-row-start: 5;
}

.start-2 {
  grid-row-start: 6;
}

.start-6 {
  grid-row-start: 9;
}


.end-12 {
  grid-row-end: 4;
}

.end-1 {
  grid-row-end: 5;
}

.end-3 {
grid-row-end: 7;
}

.end-4 {
grid-row-end: 8;
}

.end-5 {
grid-row-end: 9;
}

.end-6 {
  grid-row-end: 10;
}
*/

.start-1 {
  grid-row-start: 1;
}

.start-2 {
  grid-row-start: 2;
}

.start-3 {
  grid-row-start: 3;
}

.end-1 {
  grid-row-end: 1;
}

.start-4 {
  grid-row-start: 4;
}

.start-5 {
  grid-row-start: 5;
}

.end-2 {
  grid-row-end: 2;
}

.end-3 {
  grid-row-end: 3;
}


/* Event */

.title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.event {
  border: 1px solid var(--eventBorderColor);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem;
  /*margin: 0 0.5rem;*/
  /*margin-top: 4px;*/
  background: white;
}

.space, .date {
  height: 40px
}

/* Global / Etc*/
/*
body {
font-family: system-ui, sans-serif;
}
*/

.corp-fi {
  background: var(--eventColor1);
}

.ent-law {
  background: var(--eventColor2);
}

.writing {
  background: var(--eventColor3);
}

.securities {
  background: var(--eventColor4);
}

.date {
  display: flex;
  gap: 1em;
}

.date-num {
  font-size: 2rem;
  font-weight: 600;
  display: inline;
}

.date-day {
  display: inline;
  font-size: 2rem;
  font-weight: 100;
}


/************************************
********** New calendar style *******
*************************************/
.calendar-day {
  margin-top: 30px;
  position: inherit;
}

.talk-time-zone {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

/*
div.plenary {
  display: block;
}
*/

.short-container {
  /*display: block;*/
  /*box-sizing: border-box;*/
  display: flex;
}

.short {
  display: inline-block;
  /*width: auto;*/
  /*box-sizing: border-box;
  width: calc(100% / 3);*/
  flex-grow: 1;
}

.talk-time {
  font-family: monospace;
  font-size: medium;
  background-color: rgb(58, 57, 57);
  color: rgb(255, 255, 255);
  display: flex;
}

.talk-time-container {
  /*display: inline-block;*/
  /*width: 13%;*/
  /*min-width: 100px;*/
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.talk-time-container-grid {
  display: grid;
  grid-template: "auto auto auto auto";
}

.talk-time-zone-grid {
  text-align: center;
  display: inline-block;
  font-family: monospace;
  /*font-size: 10px;*/
  background-color: rgb(58, 57, 57);
  color: rgb(255, 255, 255);
}

.content {
  display: none;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .talk-time-container-grid  {
    display: flex;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .talk-time-zone-grid {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    font-size: 6pt;
  }
}